.products {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    &__header {
        text-transform: capitalize;
        font-size: var(--title-large);
        font-weight: var(--font-standard);
        margin-top: 80px;
    }
    &__categoryProducts {
        width: 100%;
        overflow-x: hidden;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 100px 50px;
    }
}
