.product-container {
    height: 600px;
    padding: 1rem;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    position: relative;
    .to-product-page-cart-indicator {
        position: absolute;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: #5ECE7B;
        z-index: 100;
        bottom: 75px;
        right: 20px;
        display:none;
        color: white;
        font-size: 2rem;
        transition-duration: 1s;
        transition-timing-function: ease-out; 
    }
    &:hover .to-product-page-cart-indicator {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    .product-image-container {
        width: 100%;
        height: 80%;
        overflow: hidden;
        
        // display: flex;
        // justify-content: center;
        // align-items: center;

        

        .product-image {
            // display: block;
            width: 100%;
            // height: 100%;
            object-fit: cover;
            transition-duration: 1s;
            transition-timing-function: ease-out;
        }

        .product-image:hover {
            transform: scale(1.2);
        }
    }
    .out-of-stock{
        // .product-image, .product-title, .product-price{
        //     opacity:0.3;
        // }
        position: relative;
        h3 {
            position: absolute;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) !important;
            color:#8D8F9A;
            font-size: 2rem;
        }
    }
    
    .product-title {
        color: #8D8F9A;
        font-weight: 300;
        margin: 0.5rem 0;
    }
    .product-price {
        color: #1D1F22;
        // color: black
        font-weight: 500;
    }
    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(169, 165, 165, 0.2);
    }
    &:has(.out-of-stock) {
        .product-image, .product-title, .product-price{
            opacity:0.3;
        }
    }
    
}
