.cartlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    height: 100%;
    position: relative;  
    
    &__currencyContainer {
      display: flex;
    }
    &__selectedCurrencyContainer {
      display: flex;
      align-items: flex-end;
      cursor: pointer;
    }
    &__selectedCurrency {
      padding: 0px 10px;
      font-size: var(--text-large-medium);
      font-weight: var(--font-semi-bold);
    }
    
    &__cartIconContainer {
      width: auto;
      position: relative;
      cursor: pointer;
    }
    &__cartIcon {
      width: 20px;
      height: 20px;
    }
    &__itemQuantityNotifier {
      position: absolute;
      right: -10px;
      top: -7px;
      border-radius: 50%;
      background-color: var(--dark);
      color: var(--white);
      width: 20px;
      height: 20px;
      display: flex;
      justify-content:center;
      align-items:center;
    }
    &__itemQuantity {
      font-weight: var(--font-x-bold);
      font-size: var(--text-small-medium);
    }
}

.chevron-icon {
  font-size: 14px;
}