.navbar {
  width: 100%;
  height: 5rem;
  position: -webkit-sticky; /* Safari */
  position: sticky !important;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;

  &__bagIcon {
    color: #5ECE7B;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
  }
}

.maxWidthLimiter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
