.App {
  width: 100%;
}

.maxWidthLimiter {
  max-width: 1240px;
  margin: 0 auto;
}

.btn--outline {
  background: transparent;
  border: 1px solid var(--dark);
  color: var(--dark);
  cursor: pointer;
}
.btn--green {
  background: var(--light-green);
  border: none;
  color: var(--white);
  cursor: pointer;
}