.cartDropdown {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 80px;
    right: -10px;
    z-index: 100;
    width: 325px;
    height: 60vh;
    background-color: var(--white);
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__myBagHeader {
        font-size: var(--text-large-medium);
        line-height: 160%;
    }

    &__myBagQuantity {
        font-weight: var(--font-bold);
        font-size: var(--text-medium);
    }

    // &__cartItemsContainer {
    //     //
    // }

    
    // TODO: MOVE TO CART ITEMS WHERE @MEDIA IS FOR MOBILES
    /* FROM HERE */
    .cart-item-details-container {
        border: none;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        
        .left-cart-details-container {
            width: 45%;
            .brand-naming-container {
                margin-bottom: 1rem;
                h2, h3 {
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
            .cart-item-price-container {
                margin-bottom: 1rem;
                .cart-item-price {
                    font-weight: 600;
                }
            }

            .attribute-container {
                margin-bottom: 1rem;
                
                .details-header {
                    font-family: 'Roboto Condensed', sans-serif;
                    text-transform: none;
                    margin-bottom: 0.5rem;
                    font-size: 1rem;
                    font-weight: 400;
                }
                .attribute-values {
                    display: flex;
                    flex-wrap: wrap;
                    .text-attribute-container {
                        margin-right: 0.5rem;
                        margin-bottom: 0.5rem;
                        .text-attribute-input {
                            opacity: 0;
                            position: fixed;
                            width: 0;
                        }
                        .text-attribute-label {
                            border: 2px solid #1D1F22;
                            padding: 5px;
                            cursor: pointer;
                            font-size: 0.5rem;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }

                    .swatch-attribute-container {
                        margin-right: 5px;
                        .swatch-attribute-input {
                            opacity: 0;
                            position: fixed;
                            width: 0;
                        }
                        .swatch-attribute-label {
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            border: 1px solid #1D1F22;
                            cursor: pointer;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }

                    .text-attribute-input:checked + .text-attribute-label {
                        color: white;
                        background-color: #1D1F22;
                    }
                    
                    .swatch-attribute-input:checked + .swatch-attribute-label {
                        border: 2px solid #5ECE7B;
                    }
                }
            }
        }
        .right-cart-details-container {
            display: flex;
            align-items: center;
            width: 45%;
            .cart-item-amount-increment-container {
                height: 100%;
                width: auto;
                margin-right: 6px;;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                button {
                    background-color: #fff;
                    border: 1px solid #1D1F22;
                    width: 1rem;
                    height: 1rem;
                }
            }
            .cart-item-img-container {
                width: 100px;
                height: auto;
                overflow: hidden;
                display:flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: scale-down;
                    transition-duration: 0.5s;
                    transition-timing-function: ease-out;
                }
                img:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
    /* TILL HERE */

    &__totalPrice {
        display: flex;
        justify-content: space-between;
    }
    &__totalTxt {
        font-weight: var(--font-semi-bold);
    }

    &__totalAmount {
        font-weight: var(--font-x-bold);
    }

    &__actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        width: 100%;
        height: 43px;
    }
    &__btn {
        display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
        padding: 12px 0;
        font-family: 'Raleway', sans-serif;
        font-weight: var(--font-bold);
        font-size: var(--text-small-medium);
    }
    &__emptyCartHeader {
        text-align: center;
    }
}

.blur-out-background {
    background-color: rgba(57, 55, 72, 0.22);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 50;
    cursor: pointer;
}