.cartDropdown {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 80px;
    right: -10px;
    z-index: 100;
    width: 325px;
    height: 60vh;
    background-color: var(--white);
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__myBagHeader {
        font-size: var(--text-large-medium);
        line-height: 160%;
    }

    &__myBagQuantity {
        font-weight: var(--font-bold);
        font-size: var(--text-medium);
    }

    &__cartItemsContainer {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    &__totalPrice {
        display: flex;
        justify-content: space-between;
    }
    &__totalTxt {
        font-weight: var(--font-semi-bold);
    }

    &__totalAmount {
        font-weight: var(--font-x-bold);
    }

    &__actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        width: 100%;
        height: 43px;
    }
    &__btn {
        display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
        padding: 12px 0;
        font-family: 'Raleway', sans-serif;
        font-weight: var(--font-bold);
        font-size: var(--text-small-medium);
    }
    &__emptyCartHeader {
        text-align: center;
    }
    .cartItem {
        border: none;

        /* LEFT SIDE */
        &__leftDetails {
            gap: 0.5rem;
        }
        &__brandNameContainer {
            gap: 0.5rem;
        }
        &__brand, &__name {
            font-weight: var(--font-light);
            font-size: var(--text-medium);
        }
        &__price {
            font-weight: var(--font-semi-bold);
            font-size: var(--text-medium);
        }
        &__attributesContainer{
            gap: 0.5rem;
        }
        &__attributeName{
            font-weight: var(--font-standard);
            font-size: var(--text-small-medium);
        }
        &__textAttributeLabel {
            width: 24px;
            height: 24px;
            font-size: 0.5rem;
        }
        &__swatchAttributeLabel {
            width: 16px;
            height: 16px;
        }

        /* RIGHT SIDE */
        &__rightDetails {
            gap: 0.5rem;
        }

        &__addButton, &__subtractButton {
            width: 24px;
            height: 24px;
            
        }
        &__subtractButtonTxt, &__addButtonTxt {
            font-size: 18px;
        }
        &__quantity {
            font-size: var(--text-medium);       
        }
        &__imageContainer {
            max-width: 121px;
            max-height: 190px;
        }
    }
}

.blur-out-background {
    background-color: rgba(57, 55, 72, 0.22);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 50;
    cursor: pointer;
}